<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title></title>
</head>
<body>



<head th:fragment="head(title)">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<title th:text="${title}">qweasd common</title>
<link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" />
<link href="../../static/css/jquery.datetimepicker.css" th:href="@{/css/jquery.datetimepicker.css}" rel="stylesheet" />


<div th:replace="fragments/common :: js"></div>

</head>



<!-- added in head -->
<div th:fragment="js">
    <script src="../../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="../../static/js/app.js" th:src="@{/js/app.js}"></script>
    <script src="../../static/js/jquery.datetimepicker.js" th:src="@{/js/jquery.datetimepicker.js}"></script>
</div>




<!--         <div th:replace="fragments/common :: pagination (pageable=${orderList},href='/panel/order')"></div>
 -->


<div th:fragment="pagination (pageable, href)" th:remove="tag">


    <div id='pagination_control' th:if="${paginationInfo.isVisible()}" class="pagination blog-pagination">
        <a th:href="@{${href}(page=${paginationInfo.previousPageNumber})}" class='previous'
            th:if="${paginationInfo.previousVisible}"><i class="glyphicon glyphicon-chevron-left"></i></a>

        <div th:each="element : ${paginationInfo.pageElements}">
            <a th:href="@{${href}(page=${element.label})}" th:text="${element.label}+1" th:if="${element.navigable}"></a>
            <!--   current page   -->
            <div th:text="${element.label}+1" th:if="${!element.navigable AND element.currentPage}" class="active"></div>
            <div th:text="${element.label}" th:unless="${element.navigable || element.currentPage}"></div>
        </div>
        <a th:href="@{${href}(page=${paginationInfo.nextPageNumber})}" class='next'
            th:if="${paginationInfo.nextVisible}"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>



</div>
<!--  end pagination element -->












<div th:fragment="confirmationModal">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Potwierdzenie operacji</h4>
                </div>
                <div class="modal-body">Czy na pewno chcesz wykonać operację ?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="confirmOperation">Tak</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="cancelOperation">Nie</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>