<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8" />
<title></title>
</head>
<body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation"
		th:fragment="menu">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Charon</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown"
						sec:authorize="hasAnyRole('ROLE_ADMINISTRATION_PERMISSION', 'ROLE_ADMINISTRATION_AUDITLOG','ROLE_ADMINISTRATION_USER')">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administracja
							<span class="caret"></span>
					</a>
						<ul class="dropdown-menu" role="menu">
							<li sec:authorize="hasRole('ROLE_ADMINISTRATION_PERMISSION')"><a
								href="../panel/permission.html"
								th:href="@{/panel/admin/permission}">Uprawnienia</a></li>
							<li sec:authorize="hasRole('ROLE_ADMINISTRATION_AUDITLOG')"><a
								href="../panel/audit.html" th:href="@{/panel/admin/audit}">Audyt
									Log</a></li>
							<li sec:authorize="hasRole('ROLE_ADMINISTRATION_USER')"><a
								href="../panel/user-list.html"
								th:href="@{/panel/admin/user-list}">Użytkownicy</a></li>
						</ul>
					</li>
					<li><a href="../panel/order.html" th:href="@{/panel/order}">Zlecenia</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:text="|Zalogowany jako ${#authentication.name}|">Zalogowany
							jako Jarek</a></li>
					<li>
						<form th:action="@{/logout}" method="post" name="logout"
							class="navbar-form navbar-right">
							<button type="submit" class="btn btn-default">Wyloguj</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>