#motivatorAdminDiv{
	position:relative;
	margin:2%;
	width:90%;
	font-size:12px;
	
	
}


#motivatorAdminGrid{
	border:solid black 2px;
	
}


#motivatorAdminGrid td{
	border:solid black 2px;
		  background:rgba(200,200,200,0.5);
		  	text-align: center;
		  
}


#motivatorAdminGrid td:nth-child(3){
width:8%;
	}


/*	Every n + 1 offset 	(2n+1) */
#motivatorAdminGrid td:nth-child(3):hover{
	background:green;
}

