html,body{      
	height: 100%;
	width:100%;
	  background: url('../img/bg6.jpg') no-repeat center center  ; 
	  background-size: 100% 100%;
	  background-color:orange;

}


#main{	
    position:relative;
    top:10%;
}
#wrapperForFooter{
	    min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -70px;
}

#mainFrame{
	position:relative;
	margin-top:4%;
	/* for the fixed space on the start */
	min-height:390px!important;
	height:390px!important;
	word-wrap: break-word;
	
	        
}
/*
#qouteBackground{
	font-size:40px;
	line-height:50px;
	padding:2%;
	color:white;
	font-style:bolder;
	background:navy;
	border-radius:25px 25px 25px 25px ;
    margin-left: auto ;
    margin-right: auto ;
}
*/
#qouteBackground{
	font-size:50px;
	line-height:60px;
	padding:2%;
	color:Black;
	font-weight:bold;
	
	border-radius:25px 25px 25px 25px ;
    margin: auto ;
    margin-top:3%;
}

#mainFrame img{
    border-radius:25px 25px 25px 25px ;
    min-height:390px!important;
    max-height:390px;
}

#getNextMotivator{
	position:relative;
    left:20%;
    width:500px;
    height:10%;
    margin-top:2%;
}
#getNextMotivatorBtn{
	margin-top:2%;
}
.motivatorNumber{
	display:none;
}

/* 
#motDimensionsClass{
	min-height:640px;
	min-width:390px	
}
#motDimensionsClassQuote{
	min-height:640px;
	min-width:390px	
} */



#footer{
  height: 60px;
}

a{
		color:black;
		font-weight:bold;
}








